
.scrollOverlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.clickableOverlay {
  min-height: 100%;
  background: rgba(9, 30, 66, 0.54);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.modal {
  display: inline-block;
  position: relative;
  width: 100%;
  background: #fff;
  max-width: 600px;
  vertical-align: middle;
  border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}